body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.cart-header{
  font-size: 24px;
  font-weight: 600;
}
.cart-select {
  font-size: 10px !important;
  width: fit-content;
}
.cart-product{
  border-bottom:solid rgb(239, 239, 239) 1px;
}
.cart-product-title {
  font-size: 16px;
  font-weight: 600 ;
}

.body-section {
  left: 8%;
}
.delete-cart-item{
  right: 2%;
  top: 0;
  text-decoration: none;
  font-size: 20px;
  color: rgb(167, 167, 167);
}
.text-body{
  text-decoration: none;
}
.summary-details{
  font-size: 16px;
}
.checkout-link{
  text-decoration: none;
}
.checkout-btn{
  background-color: black;
  text-decoration: none;
  color: white;
  height: 35px;
  margin: 0 !important;
}
.update-btn{
  margin: 0;
  height: 45px;
  width: 50px;
  background-color:white;
  border: none; 
}
hr{
  border-color: rgb(166, 166, 166);
  height: 1px;
  margin-top:19px ;
}
.empty-cart{
  font-size: 16px;
  color:rgb(166, 166, 166);
}
footer{
  margin-top: auto;
}
a{
  text-decoration: none;
  color:white;
}