@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
}
body {
  margin: 20px 0 0 0;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}

html {
  scroll-behavior: smooth;
}
#godown{
  height: 160px;
}
.navbar-toggler, .navbar-toggler[aria-expanded="true"] {
  border: white !important;
  border:none;
}
#nike-logo:hover{
  filter: opacity(0.5);
}
.navbar li a {
  color: #2b2b2b !important; 
  font-size: 14px;
}

.navbar li a:hover {
  color: #2b2b2b !important; 
  font-weight: 800;
}
.hero {
  overflow: hidden;
}
.hero h1 {
  font-size: 100px;
  font-weight: 700;
}

.hero-text p{
  font-size: 20px;
  color: #787878;
  font-weight: 400;
}

.shop-now-btn {
  width: 165px;
  height: 45px;
  text-align: center;
  background-color: red;
  color: white;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 2.5px;
}

.shop-now-btn:hover{
  background-color: rgb(222, 0, 0);
}

.hero-shoe {
  position: relative;
  background: radial-gradient(620px 620px at 63% 45%, #ECECEC 60%, transparent 50%);
}

.hero-img {
  margin-top: 20px;
  margin-left: 15%;
  max-width: initial;
  width: 720px;
  transform: rotate(-30deg);
  filter: drop-shadow(0px 20px 40px #676767) brightness(124%);

}
@media (max-width: 768px){
  .nav-item {
      padding-left: 0px !important;
      padding-right : 0px !important;
  }
}
.circle {
	background:
    radial-gradient(7em 7em at 50% 50%, #ffffff 30%, transparent 50%);
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
}
.circle img{
  filter: brightness(126%);
}

.c-selected {
	background:
    radial-gradient(7em 7em at 50% 50%, #2b2b2b 49%,  transparent 50%);
}
.features-section {
  height: 20vh;
  background-color: #F5F5F5 ;
}
.feature-title{
  font-weight: 520;
  height: 15px;
  font-size: 18px;
  color: #2b2b2b;
}
.feature-desc {
  height: fit-content;
  margin-bottom: 0;
  color: #989898;
}

.products-header{
  font-weight: 600;
}
.product-title {
  margin-top: 25px;
  font-size: 16px;
  font-weight: 600;
}
.product-desc {
  font-size: 14px;
  font-weight: 400;
  color: #A3A3A3;
}
.product-price{
  font-size: 16px;
  font-weight: 600;
}
.product{
  position: relative;
  transition: all ease 0.5s; 
  top: 0;
}
.product:hover{
  top: 10px;
  border: 1px solid #2b2b2b;
}

.add-to-cart {
  border: none;
  width: 30px;
  background-color: black !important;
  box-shadow: 0px 0px 0px transparent;
  text-shadow: 0px 0px 0px transparent;
  color:white !important; 
  display: table-cell; 
  vertical-align: middle;
  margin: 0 auto;
  padding: 0;
}


.join-us-section {
  margin-top: 5%;
  background: url("../resouces/images/join-us-background.jpg") rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
  height: 35vh;
  background-size: cover;
  background-position: center;
}

.join-us-title{
  font-weight: 520;
  font-size: 30px;
  color: white;
}

.join-us-input{
  margin: 0;
  width: 272px;
  height: 45px;
  border: #ffffff solid 5px; 
  padding-left: 10px;
}
.join-us-input:focus{
  outline: none;
}

.join-us-btn{
  margin: 0;
  height: 45px;
  width: 50px;
  background-color: red;
  border: red solid 5px; 
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
#lblCartCount {
    font-size: 9px;
    background:  #EF4135;
    color: #fff;
    padding: 2px 5px;
    vertical-align: top;
    margin-left: -10px; 
}
.detail{
  padding: 10px;
}
.about-us-background{
  background-image: url('../resouces/images/about-us.jpeg');
  background-repeat: no-repeat;
  object-position: center top;
  object-fit: fill;
  height: 600px;
  width: 100%;
}
article{
  font-size: 18px;
  line-height: 32px;
}
.quote {
  margin: 0;
  background: #eee;
  padding: 1em;
  border-radius: 1em;

}
.quote figcaption,
.quote blockquote {
  margin: 1em;
}